DEBUG=True
SECRET_KEY=replace-me
DATABASE_URL=postgres://postgres:CHANGEME@localhost:5432/fixturedb
ALLOWED_HOSTS=localhost,127.0.0.1
SUPERUSER_EMAIL=you@example.com
SUPERUSER_PASSWORD=CHANGEME
SADMIN_HOST=localhost
TIME_ZONE=Asia/Kolkata
LANGUAGE_CODE=en-us
